body {
    scroll-behavior: smooth;
}

.filter-actions {
    background: #eee;
    padding: 20px 20px;
}

.footer-wrapper {
    padding-top: 80px;
}

.footer {
    background: #eee;
    padding: 10px 20px 20px;
}